body {
  font-size: x-large;
}
/* HOME PAGE CSS */
#more {
  display: none;
}
.nav-link {
  font-size: 16px;
  color: black !important;
}
.nav-link:hover {
  background: rgb(5, 67, 161) !important;
}
#logoutBtn {

  background: rgb(11, 94, 215);
  border: none;
  color: #fff;
  padding: 8px 20px 10px 20px;
}
#logoutBtn:hover {
  /* background-color: white; */
  opacity: 1;
  color: #000;
}
#showmore{
  background: rgb(11, 94, 215);
  border: none;
  color: #fff;
  width: 30%;
  padding: 8px 20px 4px 20px;
  margin-left: 10px;
  border: none;
}

/* icon css */
.container {
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 10%;
  display: flex;
  margin-top: 118px;
}
/* .container,  */
.fa-plus-circle {
  justify-content: flex-start;
  display: flex;
}
#plusicon{
  color: rgb(11, 94, 215);
  font-size: 45px !important;
}
 /* animation on icon */ 
 .btn-holder:hover #plusicon{
  font-size: 60px !important;
  color: black;
  transition: 0.9s;
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}
/* modal css */
input,
select {
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: rgb(255, 255, 255);
  padding: 25px 10px 10px 0px;
  margin-left: 15px;
}
.email,
.name {
  outline: none;
  width: 98%;
  height: 27px;
  margin-top: 2px;
}
#iconbtn {
  float: right !important;
  background-color: #fff !important;
  border: none !important;
}
#modal-btn-create {
  background-color: rgb(11, 94, 215);
  border: none;
  border-radius: 0 !important;
}
#TeamsYouOwn {
  margin-bottom: 25%;
}
#ownTeam,
#partofTeam {
  font-size: x-large;
  font-family: cursive;
  /* text-align: center; */
  color: black;
  background-color: rgb(157, 255, 242);
  text-decoration: underline !important;
}
#loginuser {
  margin-left: 10px;
}

#setting {
  display: inline;
  background: #fff;
  border: none;
  color: #000;
  margin-top: 7px;
  margin-right: 2px;
  padding: 10px 20px 10px 20px;
}

footer {
  border:none;
  position: fixed;
  background-color: #0489aa;
  width: 100%;
  text-align: center;
  /* height: auto; */
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    
}
#em{
color: white;
}
a:hover {
  color: white !important;
}
/* icon css */
#dlt-btn{
  border: none;
  margin: -10px 10px 0 0;
  /* margin-top: -40px; */
  /* display: flex; */
  color: black !important;
  background-color: white !important;
  font-size: 25px !important;
}

#dlt-btn:hover #dltIcon{
  background-color: red !important;
  border-radius: 10px;
  font-size: 35px;
  color: white !important;
  transition: 0.7s;
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}

#setting-btn{
  border: none;
  margin: -10px 5px 0 0;
  color: black !important;
  background-color: white !important;
  font-size: 25px !important;
}
#setting-btn:hover #setIcon{ 
  border-radius: 10px;
  font-size: 35px;
  background-color: rgb(0, 119, 255) !important;
  color: white !important;
  transition: 0.9s;
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}
#questionbutton{
  border: none;
  margin: -10px 5px 0 0;
  color: black !important;
  background-color: white !important;
  font-size: 25px !important;
}
#questionbutton:hover #quesIcon{
  border-radius: 10px;
  font-size: 35px;
  background-color: rgb(0, 119, 255) !important;
  color: white !important;
  transition: 0.9s;
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}

/* OVERVIEW PAGE CSS */
#reports{
  text-align: center;
  font-family: cursive;
  color: rgb(0, 0, 0);
}
#TeamName{
  /* text-align: center; */
  /* font-family: cursive; */
  margin-left: 5px;
  /* font-style: italic; */
  color: rgb(0, 0, 0);
}